*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background: #fff;
  box-sizing: border-box;
  font: 1em/1.333 sans-serif;
}

html[colored] {
  background: hsl(0, 0%, 90%);
}

body {
  margin: 0;
  padding: 1.5em;
}

body[full] {
  height: 100vh;
}

section {
  margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0;
}

p {
  margin: 0 0 1em;
}

p:last-child {
  margin-bottom: 0;
}
