*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
body,
code,
em,
h1,
h2,
h3,
h4,
h5,
h6,
html,
ol,
p,
pre,
strong,
ul {
  border: 0;
  font: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  background: #fff;
  box-sizing: border-box;
  color: #333;
  font: 1em/1.333 'Helvetica Neue', sans-serif;
}

body {
  padding: 1.5em;
}

body[center] {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

body[center] > * {
  flex-basis: 32em;
}
