@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: hsl(0,0%,20%);
}

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #bbb;
  text-align: left; }

::selection {
  color: white;
  background: hsl(0,0%,20%);
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #fff;
  font-family:  "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.03em;
  text-transform: none;
  text-shadow: none; }

.reveal h1 {
  font-size: 2.4em;
  margin-bottom: .5em;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.reveal h2 {
  font-size: 1.8em;
  margin-bottom: .5em;
}

.reveal h3 {
  font-size: 1.3em;
  margin-bottom: .75em;
}


/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: hsl(75, 70%, 60%);
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: hsl(35,100%,50%);
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #d08a1d; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: hsl(75, 70%, 60%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: hsl(75, 70%, 60%); }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: hsl(75, 70%, 60%); }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: hsl(75, 70%, 60%); }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: hsl(75, 70%, 60%); }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: hsl(35,100%,50%); }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: hsl(35,100%,50%); }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: hsl(35,100%,50%); }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: hsl(35,100%,50%); }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: hsl(75, 70%, 60%);
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: hsl(75, 70%, 60%); }

/*********************************************
 * SLIDES
 *********************************************/
.reveal .slides {
  text-align: left;
}

/*********************************************
 * CODE
 *********************************************/

.reveal code {
  background: hsla(0,0%,0%,.25);
  border-radius: 4px;
  display: inline-block;
  font-family: "Source Code Pro", monospace;
  padding: .1em .3em;
}
.reveal pre {
  display: block;
  position: relative;
  width: auto;
  padding: 1em;
  background: hsla(0,0%,0%,.25);
  border-radius: .5em;
  font-size: .75em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: none;
}

.reveal pre code {
  background: transparent;
  display: block;
  max-height: 600px;
  overflow: hidden;
  padding: 0;
}

.reveal pre code mark {
  background-color: hsla(75, 70%, 60%, .2);
  border-radius: 4px;
  color: inherit;
  display: inline-block;
  padding: 0 .3em 0;
}

.reveal pre code i {
  font: inherit;
  opacity: .25;
}
.reveal pre code i * {
  color: #ddd!important;
}

/*********************************************
 * LISTS
 *********************************************/
.reveal li {
  margin-bottom: .5em!important;
}

/*********************************************
 * Content
 *********************************************/

b, strong {
  color: #fff;
}


/*********************************************
 * SPACING
 *********************************************/

.reveal ol,
.reveal ul,
.reveal p,
.reveal pre {
  display: block!important;
  margin: 0 0 1em!important;
}

.reveal ol,
.reveal ul {
  list-style: square!important;
  padding: 0 0 0 1.5em;
}


/*********************************************
 * BLOCKQUOTES
 *********************************************/
.reveal blockquote {
  display: block;
  position: static;
  width: auto;
  margin: 1em 0;
  padding: 1em;
  font-style: italic;
  background: hsla(0, 0%, 100%, 0.05);
  box-shadow: none;
}


/*********************************************
 * Flex Line
 *********************************************/
.FlexLine {
  display: flex;
  margin-left: -1em!important;
}

.FlexLine-item {
  flex: 1 0 auto;
  margin-left: 1em!important;
}


/*********************************************
 * Definition List
 *********************************************/
.reveal dl {
  display: flex;
  flex-wrap: wrap;
}
.reveal dt {
  display: block;
  margin-bottom: .25em;
  width: 5em;
}
.reveal dd {
  width: calc(100% - 5em);
}


/*********************************************
 * Syntax Highlighting
 *********************************************/

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: hsl(0, 0%, 33%);
}

.token.punctuation {
  opacity: .7;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: hsl(350, 40%, 70%);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: hsl(75, 70%, 60%);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: hsl(40, 90%, 60%);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: hsl(350, 40%, 70%);
}

.token.regex,
.token.important {
  color: #e90;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

.token.deleted {
  color: red;
}
